/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #263238;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
} */

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  max-width: 450px;
  margin: 30px auto;
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
  border-radius: 8px;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 34px;
  padding: 5px;
  background: #e6eaec;
  color: inherit;
  font-family: inherit;
}

input::placeholder {
  color: #837c7c;
}

.join-form-input {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.btn-primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #1565c0;
  color: white;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

form h2,
.conference-section h2 {
  margin-bottom: 20px;
}

.btn-danger {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #f44336;
  color: white;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

/* TODO: don't need this */
.conference-section {
  padding: 20px 30px;
  max-width: 960px;
  margin: 0 auto;
}

.main-grid-container {
  width: auto;
  padding: 2rem 6rem;
}

.main-grid-view {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto 1rem;
  flex-wrap: wrap;
  gap: 3rem;

  /* place content: center */
}

.overflow {
  overflow-y: auto;
}

/* .conference-section h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #546e7a;
} */

.main-grid-container h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #546e7a;
}

.peers-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  place-items: center;
  grid-gap: 10px;
}

.peer-tile {
  position: relative;
}

.peer-hand-raised-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  fill: #f37726;
}

.peer-video {
  height: 250px;
  width: 250px;
  border-radius: 8px;
  object-fit: cover;

  /* padding-bottom: 10px; */

  /* position: absolute; */
  z-index: 0;
}

.local.peer-video {
  transform: scaleX(-1);
}

.peer-name {
  font-size: 14px;
  text-align: center;

  /* position: fixed; */

  /* bottom: 0; */
}

.peer-container {
  padding: 10px;
}

.ar-video {
  width: 1280px;
  height: 720px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
  position: absolute;
  z-index: 0;
}

.ar-canvas {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

.presentation-container {
  display: flex;
}

.presentation-video-container {
  flex: 0 0 80%;
}

.presentation-video {
  width: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.peers-container-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 80%;

  /* width: 15%; */
  justify-content: space-around;
  align-items: center;
}

.control-bar {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 15px;
  justify-content: center;
  z-index: 10;
}

.control-bar > *:not(:first-child) {
  margin-left: 8px;
}

.btn-control {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #37474f;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  background-color: #607d8b;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  color: whitesmoke;
  cursor: pointer;
}

.hide {
  display: none;
}

.separator {
  font-size: 12px;
}

.sidebar-widget .sidebar-description {
  width: 100%;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  padding: 1em;
}

.sidebar-widget .sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.sidebar-widget .sidebar-list .model-list-item {
  width: 100%;
  justify-content: left;
}

.sidebar-widget .sidebar-list .model-list-item:disabled {
  color: var(--jp-ui-font-color3);
}

.presenter-container-main {
  display: flex;
  padding: 4rem;
  gap: 6rem;
  background-origin: padding-box;
}

.presenter-container {
  flex: 1 1 0;
}

.presenter-video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.peer-sidepane-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
}

.peer-hand-raised {
  outline: thick solid #f37726;
}

.icon {
  /* width: 2em; */

  /* height: 2em; */
  scale: 0.8;
  fill: whitesmoke;

  /* vertical-align: -0.125em; */
}

@keyframes breathe {
  0% {
    transform: scale(0.7);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.7);
    opacity: 0.8;
  }
}

.icon-breathe {
  animation: breathe 3s infinite alternate;
  fill: #f37726;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.preview-video {
  border-radius: 8px;
}

.preview-control-bar {
  display: flex;
}
